
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}
<div style="position: fixed; left: 0px; right: 0px; bottom: 0px; top: 0px; margin: auto; border: 1px solid beige; width: 400px; height: 500px; background: cornsilk;">
    <div style="position: absolute; left: 0px; right: 0px; bottom: 0px; top: 0px; margin: auto; width: 350px; height: 450px">
        <h3 style="text-align: center;">Reset Password</h3>
        
        <form method="post" action="@Url.Action("DoReset","Auth")">
            <div class="mb-3">
                <label for="txtUserName" class="form-label">User Name</label>
                <input type="text" class="form-control" id="txtUserName" aria-describedby="emailHelp" name="txtUserName">
                @*<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>*@
            </div>
            <div class="mb-3">
                <label for="txtPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="txtPassword" name="newPassword">
            </div>
            <div class="mb-3">
                <label for="txtPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="txtPassword" name="confirmPassword">
            </div>
            <button type="submit" class="btn btn-primary" style="width:100%">Submit</button>
            <div id="emailHelp" class="form-text">@ViewBag.Message</div>
        </form>
    </div>
</div>
